*{
    margin: 0;
    padding: 0;
}
[v-cloak]{
    display: none;
}
body{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a{
    text-decoration: none;
    color: black;
}
a:link,a:hover,a:visited,a:active {
    color: black !important;
}
.head{
    position: fixed;
    padding: 5px 10px 5px 10px;
    width: 100%;
    z-index: 200;
    overflow: hidden;
    background-color: white;
    display: flex;
    border-bottom: 1px solid gainsboro;
}

.icon-saoyisao{
    flex-grow: 0;
}
.search{
    /*height: 30px;*/
    flex-grow: 1;
    border-radius: 5px;
    background-color: #FAFAFB;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    /*margin: 0 5px 10px 5px;*/
}
.search>img{
    padding: 10px;
    width: 20px;
    /*position: absolute;*/
}
.search>input{
    margin-left:10px;
    line-height: 40px;
    border: none;
    background-color: transparent;
    position: absolute;
}
.search>input:focus{
    border: none;
    outline: none;
}
.icon-hanbaobao{
    margin: 0 20px 0 10px ;
    flex-grow: 0;
}
.icon-saoyisao,.icon-hanbaobao{
    font-size: 22px;
    line-height: 43px;
    font-weight: 200;
}
.menu{
    position: fixed;
    top: 60px;
    right: 10px;
    z-index: 200;
    background-color: white;
    border: 1px solid gainsboro;
}
ul{
    list-style: none;
}
.menu>ul>li{
    width: 110px;
    margin-left: 15px;
    margin-right: 10px;
    line-height: 40px;
    border-bottom: 1px solid gainsboro;
}
.menu>ul>li span{
    padding: 10px 10px 10px 20px;
    font-size: 14px;
}
/*.container{*/
    /*background-color: #F0F0F0;*/
/*}*/
.content{
    padding-top: 55px;
    /*background-color: #F0F0F0;*/
}
.choose{
    display: flex;
    background-color: white;
}
.choose>div{
    margin:10px 0;
    flex-grow: 1;
    text-align: center;
    line-height: 25px;
}
.choose>div:first-of-type>span{
    border-bottom: 2px solid orange;
}
.choose>div>span{
    padding-bottom: 10px;
}
.choose>div:not(:last-of-type){
    border-right: 1px solid gainsboro;
}
.pro-ul{
    list-style: none;
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    justify-content: center;
    /*background-color: #F0F0F0;*/
}
.pro-ul>li{
    margin-top: 10px;
    font-size: 12px;
    line-height: 25px;
    max-width: 160px;
    flex-grow: 1;
    border: 1px solid gainsboro;
    background-color: white;
    margin-right:10px;
}
.pro-ul>li img{
    width: 100%;
}
.pro-ul>li>p{
    padding: 0 5px 0 5px;
}
.proPrice{
    color: orange;
}
@media screen and (max-width: 320px) {
    .pro-ul>li{
        width: 150px;
        margin-right: 2px;
    }
}
#wrapper {
    position:absolute;
    top:100px;
    bottom:0px;
    left:0;
    width:100%;
    background-color: #F0F0F0;
}

#pullDown, #pullUp {
    font-size: 12px;
    padding:0 10px;
    height:30px;
    line-height:30px;
    color:black;
    text-align:center
}