body{
    font-family: "微软雅黑";
    background-color: white;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*{
    margin: 0;
    padding: 0;
}
header{
    line-height: 40px;
    width: 100%;
    background-color: white;
    position: fixed;
    text-align: center;
    display: flex;
    border-bottom: 1px solid gainsboro;
    z-index: 500;
}
a{
    text-decoration: none;
    color: black;
}
a:link,a:hover,a:visited,a:active {
    color: black !important;
}
.tittle{
    flex-grow: 1;
    font-size: 16px;
    overflow: hidden;
    background-color: white;

}
.delete{
    margin-left: 10px;
    color: red;
}
.icon-hanbaobao{
    flex-grow: 0;
    margin-right: 20px;
    font-size: 20px;
}
.menu{
    position: fixed;
    top: 60px;
    right: 10px;
    z-index: 200;
    background-color: white;
    border: 1px solid gainsboro;
}
ul{
    list-style: none;
}
.menu>ul>li{
    width: 110px;
    margin-left: 15px;
    margin-right: 10px;
    line-height: 40px;
    border-bottom: 1px solid gainsboro;
}
.menu>ul>li span{
    padding: 10px 10px 10px 20px;
    font-size: 14px;
}
.content{
    padding-top: 44px;
    margin:0 10px 50px 10px;
}
.wearerMsg{
    padding:0 0 10px 0px;
    display: flex;
    border-bottom: 1px solid gainsboro;
}

/*.wearerMsg>div{*/
    /*margin-top: 10px;*/
/*}*/
.wearerMsg input{
    background-color: #F0F0F0;
    border: none;
    width: 200px;
    height: 35px;
    line-height: 35px;
    margin-right: 5px;
}
input:focus{
    outline: none;
}
/*.wearerMsg span{*/
    /*color: orange;*/
    /*font-size: 18px;*/
    /*vertical-align: middle;*/
    /*margin-right: 5px;*/
/*}*/


.align-left{
    line-height: 35px;
    text-align: right;
}
.align-left span{
    vertical-align: middle;
    color: orange;
    font-size: 18px;
    margin-right: 5px;
}
.align-right>li,.align-left>li{
    margin-top: 10px;
    font-size: 14px;
}
/*.birth{*/
    /*width: 200px;*/
    /*display: flex;*/
    /*justify-content: space-between;*/
/*}*/
.sex input{
    width: 15px;
    vertical-align: middle;
    margin-left: 10px;
}
.birth input{
    width: 85px;
}
.birth input:first-of-type{
    margin-right: 10px;
}
.tx-tittle,.tx-photo{
    line-height: 40px;
}
.tx-table{
    display: flex;
    border: 1px solid gainsboro;
}
.tx-table>p{
    border-right: 1px solid gainsboro;
    line-height: 115px;
    padding: 0 10px 0 10px;
}
.tx-table>ul{
    display: flex;
    flex-wrap: wrap;
}
.tx-table>ul>li{
    width: 95px;
    height: 95px;
    margin-left: 10px;
    padding: 10px 0 10px 0;
    position: relative;
}
.tx-table>ul>li>img{
    width: 100%;
}
.icon-gou{
    position: absolute;
    bottom: 15px;
    right: 5px;
    border-radius: 50%;
    background-color: white;
}
.active{
    color: orange;
}
.tx-photo{
    border-bottom: 1px solid gainsboro;
    padding: 10px 0 10px 0;
}
.tx-photo>span{
    color: gray;
    font-size: 12px;
}
.tx-camera{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 20px;
}
/*.tx-camera>li>p:first-of-type{*/
    /*width: 95px;*/
    /*height: 95px;*/
    /*background-color: #F0F0F0;*/
    /*color: #999999;*/
    /*line-height: 95px;*/
    /*text-align: center;*/
/*}*/
.tx-camera>li>p:last-of-type{
    text-align: center;
    line-height: 35px;
    font-size: 14px;
}
.upload-photos{
    margin: 0 auto;
    width: 120px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid gainsboro;
    color: gainsboro;
    font-size: 14px;
    cursor: pointer;
}
.save{
    position:fixed ;
    width: 100%;
    background-color: #222222;
    text-align: center;
    line-height: 40px;
    color: orange;
    bottom: 0;
    z-index: 100;
}
.camera{
    position: relative;
    width: 95px;
    height: 95px;
    background-image: url("../images/camerabg.png");
    background-size: 100%;
}
.img_wrap{
    position: absolute;
    z-index: 10;
    top: 0;
    width: 95px;
    height: 95px;
    /*border: none;*/
}

figure{
    position: absolute;
    top: 0;
    z-index: 10;
    width: 95px;
    height: 95px;
}
.upload{
    opacity: 0;
    z-index: 30;
    padding: 35px 0;
    margin-left: 0;
    position: absolute;
    width: 95px;
    overflow: hidden;
}
@media (min-width: 480px){
    /*.wearerMsg{*/
        /*padding:0 0 10px 40px;*/
    /*}*/
    .align-right>li,.align-left>li{
        font-size: 14px;
    }
}
@media (min-width:321px){

}
/*s*/