<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>定制专区</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../css/iconfont/font_falzqoo8fyh3q5mi/iconfont.css">
    <link rel="stylesheet" href="../css/customarea.css">

</head>
<body>
<div class="container" id="customArea">
    <header>
        <div class="tittle">{{tittle}}</div>
        <div class="iconfont icon-hanbaobao" @click="reverse"></div>
    </header>
    <div class="menu" v-if="menuSeen">
        <ul>
            <li class=" iconfont icon-shouyeshouye"><a :href="menuHerf.index"><span>首页</span></a></li>
            <li class=" iconfont icon-gouwudai"><a :href="menuHerf.shopBag"><span>购物袋</span></a></li>
            <li class=" iconfont icon-wo"><a :href="menuHerf.mine"><span>我</span></a></li>
            <li class=" iconfont icon-saoyisao"><a ><span>扫一扫</span></a></li>
        </ul>
    </div>
    <div class="content">
        <div>
            <img :src="imgSrc" alt="">
        </div>
    </div>
    <footer @click="custommall">立即定制</footer>
</div>
<script src="../js/vue.js"></script>
<script src="../js/jquery-1.11.2.js"></script>
<script src="../js/customarea.js"></script>
</body>
</html>